
:root {
--link-color: #fefefe;
--link-color-hover: rgba(108, 106, 106, 0.93);
--font-family: 'Montserrat';
--base-font-size: 16px;
--letter-spacing: 0px;
--h1-line-height: 1.1;
--h2-line-height: 1.1;
--h3-line-height: 1.2;
--h4-line-height: 1.2;
--label-color: #2e2e2e;
--form-button-alignment: center;
--asterisk-color: rgba(255, 255, 255, 0);
--form-background-color: #fff;
--form-border-radius: 0px 0px 0px 0px;
--form-height: 60px;
--form-padding: 0px 10px 0px 10px;
--gutter-compensation: -40px;
--gutter-vertical: 3.01508vh;
--module-gutter-vertical: 3.01508vh;
--mobile-row-distance: 60px;
--screen-xlg-min: 1600px;
--container-xlg: 1570px;
--mobile-element-distance: 10px;
--mobile-column-distance: 10px;
--language-switcher-border-color: #d4d4c9;
--language-switcher-background-color: #fff;
--region-switcher-border-color: #d4d4c9;
--region-switcher-background-color: #fff;
--region-switcher-popup-background-color: #fff;
--language-switcher-min-width: 30px;
}
.btn {
--button-border-width: 0 0 0 0;
--button-background-color-disabled: #e2e2e2;
--button-min-width: 100px;
--button-height: 45px;
--button-font-size: 23px;
--button-color: #2e2e2e;
--button-background-color: rgba(255, 255, 255, 0.62);
--button-border-color: #fff;
--button-border-radius: 45px 45px 45px 45px;
--button-font-weight: 600;
--button-letter-spacing: 2.9px;
}
.btn:hover {
--button-color: #2e2e2e;
--button-background-color: #fff;
--button-border-color: #fff;
}

.domains-list p {
  text-align: center; 
  align: justify;
  font-size: 16px; 
  color: #000000;
  font-weight: strong;
}
